.container {
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  align-items: center;
}

.container mat-card {
  width: 600px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

form > * {
  width: 100%;
}

form > div {
  margin-bottom: 10px;
}
