<div class="container">
  <!-- REQUEST A PASSWORD RESET TOKEN -->
  <mat-card *ngIf="mode === 'request'">
    <mat-card-content>
      <form [formGroup]="resendLinkForm">
        <div *ngIf="isValid">Enter your email address below and we'll send you a link with instructions on resetting your password.</div>
        <div *ngIf="!isValid">The link you have used is either expried or invalid. Please re-enter your email address to request a password reset.</div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="requestReset()">Submit</button>
    </mat-card-actions>
  </mat-card>
  <!-- REQUEST A PASSWORD RESET TOKEN -->
  <mat-card *ngIf="mode === 'request-complete'">
    <mat-card-content>
      <div>
        A request to reset your password has been submitted to <span>{{ resendLinkForm.get('email').value }}</span>. Please
        check your email for instructions on how to complete your password reset. If you have not received your email in
        the next few minutes, first check your spam folder, then try submitting again. If you continue to have difficulties
        please contact the administrator.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="mode='request'">Try Again</button>
    </mat-card-actions>
  </mat-card>
  <!-- USE A PASSWORD RESET TOKEN -->
  <mat-card *ngIf="mode === 'reset'">
    <mat-card-content>
      <form [formGroup]="resetPasswordForm">
        <div *ngIf="isNew">Create a password to access your account</div>
        <div *ngIf="!isNew">Select a new password for your account</div>
        <mat-form-field>
          <input matInput placeholder="New password" type="password" formControlName="password">
          <mat-error>{{ errorMessage('password') }}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Repeat password" type="password" formControlName="repeatPassword">
          <mat-error>{{ errorMessage('repeatPassword') }}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button (click)="resetPassword()">Reset Password</button>
    </mat-card-actions>
  </mat-card>
  <!-- REQUEST A PASSWORD RESET TOKEN -->
  <mat-card *ngIf="mode === 'reset-complete'">
    <mat-card-content>
      <div>
        Your password has been successfully reset. Please log in to your account using your new password.
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button (click)="mode='request'">Log In</a>
    </mat-card-actions>
  </mat-card>
</div>
