html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      p Hi! A password reset request has been submitted for this email.  To reset your password for the inventory system, please click the following link.
      p
        span= token
